@page
@using OdeToFood.Core
@model OdeToFood.Pages.Restaurants.ListModel
@{
}

<h1>Restaurant</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="btn ">
                    Wyszukaj
                </button>
            </span>
        </div>
    </div>
</form>


@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}



<a asp-page="./Edit" class="btn btn-danger"> Add new restaurant</a>

<hr />



@*@section footer{
        <div>@Model.Message</div>
    }*@

